button {   
  background-color: #e7ff0b;   
  width: 50%;  
   color: rgb(16, 15, 14);   
   padding: 15px;   
   margin: 10px 0px;   
   border: none;   
   cursor: pointer;   
    }   
form {   
   border: 3px solid #0ba4e6; 
     
}   
.txt1{
  width: 50%;   
  margin: 8px 0;  
  padding: 12px 20px;   
  display: inline-block;   
  border: 2px solid rgb(9, 156, 248);   
  box-sizing: border-box;  

}   
button:hover {   
   opacity: 0.5;   
}     
   
.dv1 {   
   padding: 25px;   
   background-color: lightblue;  
}  